[Desktop Entry]
Name=DoBeeDo
Exec=dobeedo
Icon=dobeedo
Type=Application
Categories=Qt;KDE;Office;
GenericName=A todo list manager for KDE
GenericName[de]=Ein Aufgabenmanager für KDE
GenericName[sk]=Správca zoznamu úloh
Terminal=false
